.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.align {
    align-items: center;
}

.item {
    width: 50%;
}

@media screen and (max-width: 996px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .item {
        width: 100%;
    }
}