.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 24px 16px;
  
  width: 241px;
  height: 64px;
  
  border: 1px solid var(--color-primary);
  border-radius: 16px;

  cursor: pointer;
}

.secondary {
  background-color: var(--color-primary);
}
